body{
    font-family: 'late', Arial;
    color: #434a4b;
    background: linear-gradient(to right, #cae5fd, #dbe5b8);
}
.column {
  float: left;
  width: 33.333333%;
  margin-bottom: 16px;
  padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  border-radius: 20px;
  background: linear-gradient(#f4ebf7, #cfffef)
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #676767;
}
